USE [master]
GO
/****** Object:  Database [QL_NhanSu]    Script Date: 27/09/2025 10:54:19 ******/
CREATE DATABASE [QL_NhanSu] ON  PRIMARY 
( NAME = N'QL_NhanSu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.CSSQL08\MSSQL\DATA\QL_NhanSu.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_NhanSu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.CSSQL08\MSSQL\DATA\QL_NhanSu_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NhanSu]
GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 27/09/2025 10:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[Deptid] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Deptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 27/09/2025 10:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[City] [nvarchar](50) NULL,
	[Deptid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblDepartment] ([Deptid], [Name]) VALUES (1, N'Khoa CNTT')
INSERT [dbo].[tblDepartment] ([Deptid], [Name]) VALUES (2, N'Khoa Ngoại Ngữ')
INSERT [dbo].[tblDepartment] ([Deptid], [Name]) VALUES (3, N'Khoa Tài Chính')
GO
INSERT [dbo].[tblEmployee] ([Id], [Name], [Gender], [City], [Deptid]) VALUES (1, N'Nguyễn Nhật Ký', N'Nam', N'Lai Châu', 1)
INSERT [dbo].[tblEmployee] ([Id], [Name], [Gender], [City], [Deptid]) VALUES (2, N'Trương Mỹ An', N'Nữ', N'TP.HCM', 1)
INSERT [dbo].[tblEmployee] ([Id], [Name], [Gender], [City], [Deptid]) VALUES (3, N'Đinh Duy Mỹ', N'Nam', N'Thái Bình', 2)
GO
ALTER TABLE [dbo].[tblEmployee]  WITH CHECK ADD FOREIGN KEY([Deptid])
REFERENCES [dbo].[tblDepartment] ([Deptid])
GO
USE [master]
GO
