@model IEnumerable<BTVN_03.Models.Loai>

<h2>Danh sách loại sản phẩm</h2>
<ul class="list-group">
    @foreach (var loai in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("SanPhamTheoLoai", "SanPham", new { maloai = loai.MaLoai })">
                @loai.TenLoai
            </a>
        </li>
    }
</ul>
