@model Buoi05.ViewModels.DepartmentViewModel
@{
    ViewBag.Title = "Detail_PhongBan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiet phong ban</h2>

<p><b>Ma PB:</b>@Model.Department.Maph</p>
<p><b>Ten PB:</b>@Model.Department.TenPh</p>

<table class="table table-striped border">
    <thead>
        <tr>
            <th>
                Ma nhan vien
            </th>
            <th>
                Ten nhan vien
            </th>
            <th>
                Gioi tinh
            </th>
            <th>
                Tinh/Thanh pho
            </th>
        </tr>
    </thead>
    <tbody>
     
    </tbody>
</table>